button {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  border: 2px solid var(--color-tertiary);
  font-size: 96px;
  text-align: center;

  &:hover {
    background-color: var(--color-accent);
    cursor: pointer;
  }
}